html body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
  }
  #main{
    width:800px;
    height:320px;
    /* margin-left:15%; */
    margin:0 auto;
  }
  #chart{
      width:650px;
      /* margin-left:15%; */
      margin:0 auto;

  }
  #all{
    text-align: center;
}